################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/LibreriaSupportFast/Models/Tickets.cs
/LibreriaSupportFast/Models/ApplicationDbContext.cs
